# System
**/*.DS_Store

# Yarn
yarn.lock
.yarn/*

# Node
node_modules
dist
dist-ssr
*.local
package-lock.json

# PnP
.pnp.cjs
.pnp.loader.mjs

# Secrets
.env

# PWA dev files
dev-dist/
dev-dist/sw.js
dev-dist/registerSW.js
dev-dist/workbox-*.js